/* FONT
font-family: 'Lato', sans-serif;
font-family: 'Tajawal', sans-serif;
*/

/* COLOR PALETTE
https://coolors.co/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff
*/

/* CUSTOM VARS */
:root {
    --primary: #10002b;
    --secondary: #240046;
    --special: #3c096c;
    --primaryFontColor: #ffffff;
    --primaryFont: 'Tajawal', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

body {
    color: var(--primaryFontColor);
    font-family: var(--secondaryFont);;
}


h1 {
    font-family: var(--primaryFont)
}

.greeting-card {
    width: 18rem;
    z-index: 1;
}

.fade-me {
    opacity: 1;
    transition: 3s;
}

.push-down {
    margin-top: 200px;
}

.jumbotron {
    opacity: 0.9;
}

div.nav-pills {
    font-size: 22px;
}

p {
    font-size: 18px;
}

li {
    margin-bottom: 15px;
}

header {
    background-color: var(--primary);
}

img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

div.imageSlide_1 {
    background-image: url(../img/pexels-miriam-espacio-110854.jpg);

    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

div.imageSlide_2 {
    background-image: url(../img/pexels-felix-mittermeier-957061.jpg);

    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.imageSlide_3 {
    background-image: url(../img/pexels-pixabay-355465.jpg);

    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 700px;
    background-color: var(--secondary);
}

span {
    content: "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;";
}

footer {
    top: 600px;
    height: 100px;
    background-color: var(--primary);
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}